.tela_inicial {
	display: flex;
	flex-direction: column;
	width: 315px;
	align-items: center;
	gap: 20px;

	h2 {
		text-transform: uppercase;
		font-weight: 800;
	}

	p {
		text-align: center;
		font-weight: 600;
	}

	img {
		width: 100%;
	}
}