.jogo {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	align-items: center;
}

.palavras {
	display: flex;
	width: 100%;
	height: 360px;
	flex-wrap: wrap;
}

.chute {
	align-self: flex-start;
}

.tentativas {
	padding: 0.5rem;
}

.correto {
	background-color: #11bb1a;
}

.icone_errado {
	width: 40%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media screen and (max-height: 619px) {
	.palavras {
		height: 320px;
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 500px) {
	.icone_errado {
		width: 90%;
	}
}